#header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}
img{
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

footer {
    background-color: #000000;
    overflow: hidden;
}

footer p{
    text-align: center;
    color: aliceblue;
}